<?php
/**
 * CakePHP(tm) : Rapid Development Framework (https://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (https://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (https://cakefoundation.org)
 * @link          https://cakephp.org CakePHP(tm) Project
 * @since         0.10.0
 * @license       https://opensource.org/licenses/mit-license.php MIT License
 * @var \App\View\AppView $this
 */

$cakeDescription = 'Sistema Pedidos';
?>
<!DOCTYPE html>
<html>
<head>
    <?= $this->Html->charset() ?>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <?= $cakeDescription ?>
    </title>
    <?= $this->Html->meta('icon') ?>

    <?= $this->Html->css('base.css') ?>
    <?= $this->Html->css('style.css') ?>

    <?= $this->fetch('meta') ?>
    <?= $this->fetch('css') ?>
    <?= $this->fetch('script') ?>
</head>
<body>
    <nav class="top-bar expanded" data-topbar role="navigation">
        <ul class="title-area large-2 medium-3 columns">
            <li class="name">

                <h1><a href="/"> Sistema de Pedidos </a>
                </h1>
            </li>
        </ul>
        <div class="top-bar-section">
            <ul class="left">
                <li>
                    <?= $this->Html->link(
                    'Pedidos',
                    ['controller' => 'Pedidos', 'action' => 'index'])
                    ;?>
                </li>
                <li>
                    <?= $this->Html->link(
                    'Items',
                    ['controller' => 'Items', 'action' => 'index'])
                    ;?>
                </li>
                <li>
                    <?= $this->Html->link(
                    'Metodos de Envío',
                    ['controller' => 'MetodosDeEnvio', 'action' => 'index'])
                    ;?>
                </li>
                <li>
                    <?= $this->Html->link(
                    'Metodos de Pago',
                    ['controller' => 'MetodosDePago', 'action' => 'index'])
                    ;?>
                </li>
                <li>
                    <?= $this->Html->link(
                    'Tiendas',
                    ['controller' => 'Tiendas', 'action' => 'index'])
                    ;?>
                </li>
                <li>
                    <?= $this->Html->link(
                    'Estados',
                    ['controller' => 'Estados', 'action' => 'index'])
                    ;?>
                </li>
                <li>
                    <?= $this->Html->link(
                    'Clientes',
                    ['controller' => 'Clientes', 'action' => 'index'])
                    ;?>
                </li>
            </ul>
        </div>
    </nav>
    <?= $this->Flash->render() ?>
    <div class="container clearfix">
        <?= $this->fetch('content') ?>
    </div>
    <footer>
    </footer>
</body>
</html>
